@font-face {
  font-family: "Chronicle Display";
  src: url("Chronicle-Display-Bold.otf");
  src: local("Chronicle Display Bold"), local("Chronicle-Display-Bold");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Chronicle Display";
  src: url("Chronicle-Display-Semibold.otf");
  src: local("Chronicle Display Semibold"), local("Chronicle-Display-Semibold");
  font-weight: bold;
  font-style: normal;
}
